name: "Hello world workflow"

on:
  push:
    branches:
      - main
      - production

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    steps:
      - name: "Hello world step"
        run: echo "Hello, world!"
