name: "Multi event Pipeline / Workflow"
on:
  push:
    branches:
      - main
      - test
  pull_request:
    branches:
      - main
    types:
      - closed  
  workflow_dispatch:    

jobs:
  on-push:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: "Running on main/test branch push"
        run: echo "running on push event"

  on-pull-request:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: "Running on pull request to main branch"
        run: echo "running on pull request event"

  on-workflow-dispatch:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: "Running on manual workflow dispatch"
        run: echo "running on workflow dispatch event"  

  on-pull-request-closed:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    steps:
      - name: "Running on pull request closed"
        run: echo "running on pull request closed event"          